/* app-specific css */

* {
  font-family: "Georgia";
}

.nav li {
  width: 16vw;
}

.nav-tabs {
  border-bottom: 1px solid #484F48;
  font-size: 14px;
}

.nav-tabs>li>a {
  color: #484F48;
  background-color: #E8EFE8;
  text-decoration: none;
  border-bottom: 1px solid #484F48;
}

.nav-tabs>li>a:hover {
  color: black;
  background-color: #C1D3C1;
  text-decoration: none;
  border-bottom: 1px solid #484F48
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  color: white;
  background-color: #484F48;
  text-decoration: none;
  border-color: #E8EFE8;
  border-width: 1px;
  border-bottom: 1px solid #484F48;
}

a {
  color: #484F48;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  color: #848B84;
}

.selectize-input.focus, .selectize-input.active {
    border-color: #484F48 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(193, 211, 193, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(193, 211, 193, 0.6);
}

.well {
  border-color: #C1D3C1;
  background-color: #E8EFE8;
}

.btn {
  background-color: #484F48 !important;
  color: white !important;
  border-color: #C1D3C1 !important;
  font-size: 16px;
}

.btn:hover {
  background-color: #C1D3C1 !important;
  color: black !important;
}

.btn:active {
  background-color: #E8EFE8 !important;
  outline-color: #484F48;
  border-color: #C1D3C1;
  color: black !important;
}

body {
  font-size: 15px;
}

.checkbox-inline { 
  margin-left: 0px;
  margin-right: 15px;
}

.checkbox-inline+.checkbox-inline {
  margin-left: 0px;
  margin-right: 15px;
}
